*{
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: #46529d;
  color:#fff
}
.AddTodo{
  width: 500px;
}
.AddTodo form .field{
  outline: none;
  color: #fff;
  padding-right: 10px;
}
.AddTodo form button{
  margin-top: 8px;
  width: 80%;
  transition: all 0.5s ease-in-out;
  margin-left: 50px;
}
.AddTodo form button:active{
  transform: scale(1.8);
}
.container-ListItems{
  width: 800px;
}
.ListItems{
  background:#fff ;
  color:#46529d
}
.ListItems div{
display: flex;
align-items: center; 

}
.ListItems span.title{
  background: #75aee4;
  color:#fff
}
.ListItems span.title,
.ListItems span {
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  padding: 10px 0px;
  font-size: 20px;
  /* border-left: 0.1px solid #ccc ; */
  border-right: 0px solid #ccc ;
}
.ListItems span.createdAt {
  text-align: start ;
  justify-content: start;
}
.ListItems span.task{
  width:30%;
}
.ListItems span.description{
  width:50%;
}
.ListItems span.createdAt{
  width: 10%;
}
.ListItems span.action{
  width:10%;
}
.ListItems .action{
  cursor: pointer;
  color: red;

}